USE [master]
GO
/****** Object:  Database [QL_TICD]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE DATABASE [QL_TICD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TICD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_TICD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_TICD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_TICD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TICD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TICD]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[ID_BL] [varchar](36) NOT NULL,
	[ID_TK] [varchar](36) NOT NULL,
	[ID_DD] [varchar](36) NOT NULL,
	[NOIDUNG_BL] [nvarchar](2000) NULL,
	[LUOTTHICH_BL] [int] NULL,
	[NGAY_BL] [datetime] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_BL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUANDATHICH]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUANDATHICH](
	[ID_BLYT] [varchar](36) NOT NULL,
	[ID_TK] [varchar](36) NOT NULL,
	[ID_BL] [varchar](36) NOT NULL,
	[NgayThich] [datetime] NOT NULL,
 CONSTRAINT [PK_BINHLUANDATHICH] PRIMARY KEY CLUSTERED 
(
	[ID_BLYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[ID_DD] [varchar](36) NOT NULL,
	[ID_TK] [varchar](36) NOT NULL,
	[ID_LOAIDD] [int] NOT NULL,
	[ID_PX] [int] NOT NULL,
	[TEN_DD] [nvarchar](500) NULL,
	[DIACHI_DD] [nvarchar](500) NULL,
	[TOADO_DD] [varchar](500) NULL,
	[MOTA_DD] [nvarchar](2000) NULL,
	[LUOTTHICH_DD] [int] NULL,
	[NGAYTHEM_DD] [datetime] NULL,
	[LADIEMCANHAN] [bit] NULL,
 CONSTRAINT [PK_DIADIEM] PRIMARY KEY NONCLUSTERED 
(
	[ID_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEMYEUTHICH]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEMYEUTHICH](
	[ID_DDYT] [varchar](36) NOT NULL,
	[ID_TK] [varchar](36) NOT NULL,
	[ID_DD] [varchar](36) NOT NULL,
	[NgayThich] [datetime] NOT NULL,
 CONSTRAINT [PK_DIADIEMYEUTHICH_1] PRIMARY KEY CLUSTERED 
(
	[ID_DDYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[ID_HA] [varchar](36) NOT NULL,
	[ID_DD] [varchar](36) NULL,
	[ID_TK] [varchar](36) NULL,
	[LINK_HA] [varchar](200) NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY NONCLUSTERED 
(
	[ID_HA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDIADIEM]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDIADIEM](
	[ID_LOAIDD] [int] NOT NULL,
	[TEN_LOAIDD] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIDIADIEM] PRIMARY KEY NONCLUSTERED 
(
	[ID_LOAIDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[ID_LOAITK] [int] NOT NULL,
	[TEN_LOAITK] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_LOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGXA]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGXA](
	[ID_PX] [int] NOT NULL,
	[ID_Q] [int] NOT NULL,
	[TEN_PX] [nvarchar](50) NULL,
	[POLYGON_PX] [varchar](500) NULL,
 CONSTRAINT [PK_PHUONGXA] PRIMARY KEY NONCLUSTERED 
(
	[ID_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[ID_Q] [int] NOT NULL,
	[TEN_Q] [nvarchar](50) NULL,
	[POLYGON_Q] [varchar](500) NULL,
 CONSTRAINT [PK_QUANHUYEN] PRIMARY KEY NONCLUSTERED 
(
	[ID_Q] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/23/2022 6:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_TK] [varchar](36) NOT NULL,
	[ID_LOAITK] [int] NOT NULL,
	[TAIKHOAN_TK] [varchar](24) NULL,
	[MATKHAU_TK] [varchar](24) NULL,
	[EMAIL_TK] [varchar](200) NULL,
	[SDT_TK] [char](10) NULL,
	[TENHIENTHI_TK] [nvarchar](50) NULL,
	[NGAYTAO_TK] [datetime] NULL,
	[LANHDCUOI_TK] [datetime] NULL,
	[DAKHOA_TK] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CUA_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [CUA_FK] ON [dbo].[BINHLUAN]
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [VE_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [VE_FK] ON [dbo].[BINHLUAN]
(
	[ID_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BINHLUANDATHICH_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [BINHLUANDATHICH_FK] ON [dbo].[BINHLUANDATHICH]
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BINHLUANDATHICH2_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [BINHLUANDATHICH2_FK] ON [dbo].[BINHLUANDATHICH]
(
	[ID_BL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LOAI_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [LOAI_FK] ON [dbo].[DIADIEM]
(
	[ID_LOAIDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NAM_TRONG_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [NAM_TRONG_FK] ON [dbo].[DIADIEM]
(
	[ID_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TAO_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [TAO_FK] ON [dbo].[DIADIEM]
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DIADIEMYEUTHICH_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [DIADIEMYEUTHICH_FK] ON [dbo].[DIADIEMYEUTHICH]
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DIADIEMYEUTHICH2_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [DIADIEMYEUTHICH2_FK] ON [dbo].[DIADIEMYEUTHICH]
(
	[ID_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CO_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [CO_FK] ON [dbo].[HINHANH]
(
	[ID_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THEM_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [THEM_FK] ON [dbo].[HINHANH]
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TRUC_THUOC_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [TRUC_THUOC_FK] ON [dbo].[PHUONGXA]
(
	[ID_Q] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THUOC_FK]    Script Date: 4/23/2022 6:20:55 PM ******/
CREATE NONCLUSTERED INDEX [THUOC_FK] ON [dbo].[TAIKHOAN]
(
	[ID_LOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_CUA_TAIKHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_CUA_TAIKHOAN]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_VE_DIADIEM] FOREIGN KEY([ID_DD])
REFERENCES [dbo].[DIADIEM] ([ID_DD])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_VE_DIADIEM]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEM_LOAI_LOAIDIAD] FOREIGN KEY([ID_LOAIDD])
REFERENCES [dbo].[LOAIDIADIEM] ([ID_LOAIDD])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DIADIEM_LOAI_LOAIDIAD]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEM_NAM_TRONG_PHUONGXA] FOREIGN KEY([ID_PX])
REFERENCES [dbo].[PHUONGXA] ([ID_PX])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DIADIEM_NAM_TRONG_PHUONGXA]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEM_TAOBOI_TAIKHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DIADIEM_TAOBOI_TAIKHOAN]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_THEMBOI_TAIKHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_THEMBOI_TAIKHOAN]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_THUOCVE_DIADIEM] FOREIGN KEY([ID_DD])
REFERENCES [dbo].[DIADIEM] ([ID_DD])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_THUOCVE_DIADIEM]
GO
ALTER TABLE [dbo].[PHUONGXA]  WITH CHECK ADD  CONSTRAINT [FK_PHUONGXA_TRUC_THUO_QUANHUYE] FOREIGN KEY([ID_Q])
REFERENCES [dbo].[QUANHUYEN] ([ID_Q])
GO
ALTER TABLE [dbo].[PHUONGXA] CHECK CONSTRAINT [FK_PHUONGXA_TRUC_THUO_QUANHUYE]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_THUOC_LOAITAIK] FOREIGN KEY([ID_LOAITK])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID_LOAITK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_THUOC_LOAITAIK]
GO
USE [master]
GO
