body {
    padding: 0;
    margin: 0;

}

html, body, #map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#ddlQ, #ddlP {
    padding: 6px 9px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

label {
    font: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

#lgbt {
    background-color: green;
    color: yellow;
    transition: 0.25s;
}

    #lgbt:hover {
        background-color: yellow;
        color: green;
    }

#lgbt, #lgbt2, #btnSignUp, #btnSignUp2 {
    background-color: green;
    color: yellow;
    transition: 0.25s;
}

    #lgbt:hover {
        background-color: yellow;
        color: green;
    }

    #lgbt2:hover {
        background-color: yellow;
        color: green;
    }

    #btnSignUp:hover {
        background-color: yellow;
        color: green;
    }

    #btnSignUp2:hover {
        background-color: yellow;
        color: green;
    }

#menubar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}

#field, #sufield {
    outline: 5px dashed green;
    background-color: #EBEDEF;
}

#userMenu {
    background-color: #EBEDEF;
    text-decoration: none;
    width: 30%;
    width: 30vh;
    height: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 0%;
    outline: 5px dashed green;
}

#menuContent {
    margin-left: 5%;
    margin-bottom: 5%;
}

    #menuContent a{
        color: green;
        font-size: 15px;
        transition-property: font-size;
        transition-duration: 1s;
        transition-delay: 0s
    }
        #menuContent a:hover {
            font-size: 18px;
        }
        #menuContent a:active {
            font-size: 18px;
        }
#avatar {
    margin-left: 20%;
    margin-top: 20%;
}

#avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid green;
}

#menuFooter {
    position: absolute;
    bottom: 1%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#menuFooter a {
    color: green;
    font-size: 20px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s
}

#menuFooter a:hover {
    font-size: 22px;
}

#userName p {
    color: black;
    font-size: 13px;
    margin-top: 15%;
    margin-left: 20px;
}

#userName {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tkct {
    margin-left: 5%;
}
    #tkct a {
        font-size: 15px;
    }
        #tkct a:hover{
            font-size: 17px;
        }

#userProfile {
    background-color: #EBEDEF;
    text-decoration: none;
    width: 15vw;
    height: 8vh;
    border-radius: 0%;
    outline: 5px dashed green;

}
    #userProfile img {
        width: 3vw;
        height: 6vh;
        border-radius: 50%;
        border: 1px solid green;
    }

    #userProfile p {
        width: 10vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        color: green;
        font-size: 18px;
        margin-top: 2vh;
    }

#markerMenu {
    background-color: #EBEDEF;
    text-decoration: none;
    width: 50%;
    width: 50vh;
    height: 90%;
    height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    border-radius: 0%;
    outline: 5px dashed green;
}
#markerMenu table{
    text-align: center;
    margin-left: 5%;
}
    #markerMenu label {
        margin-top: 15%;
        font-size: 15px;
    }
    #markerMenu .txt {
        width: 180px;
        margin-left: 5%;
        margin-top: 5%;
    }
.btnMarker {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: yellow;
    transition: 0.25s;
}
    .btnMarker:hover {
        background-color: yellow;
        color: green;
    }

#markerImage {
    margin-top: 5px;
    width: 300px;
    height: 150px;
    border-right: 1px dashed green;
    border-left: 1px dashed green;
}

select option {
    background-color: #f0f257;
    color: green;
}

#trar {
    margin-top: 5px;
    width: 300px;
    height: 150px;
    border-right: 1px dashed green;
    border-left: 1px dashed green;
}

#txtarea {
    resize: none;
    width: 300px;
    height: 150px;
}

#btnCancelMarker {
    margin-left: 35%;
}
#btnCancelMarker:hover{
    color: red;
}

#btnSaveMarker{
    margin-left: 10%;
}

#browseFile{
    display: none;
}

#imgMarker{
    width: 300px;
    height: 150px;
}

#coor{
    display: none;
}

#idpx {
    display: none;
}

#layout {
    background-color: #EBEDEF;
    text-decoration: none;
    width: 35vw;
    height: 85%;
    height: 85vh;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 0%;
    outline: 5px dashed green;
}

#pointName {
    width: 32vw;
    height: 5%;
    height: 5vh;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    #pointName label:hover {
        animation: 5s linear 0s infinite alternate move;
    }

#pointClose {
    margin-left: 1%;
    width: 3vw;
    height: 5vh;
    text-align: center;
    font-size: 24px;
}

#pointImage {
    width: 35vw;
    height: 35vh;
}
    #pointImage img {
        display: block;
        width: 34vw;
        height: 34%;
        height: 34vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 2%;
    }
#pointAddress {
    width: 30vw;
    height: 5vh;
    text-align: center;
    overflow: hidden;    
    border-bottom: 0.5px solid green;
}    
    #pointAddress label:hover{
        animation: 5s linear 0s infinite alternate move;
    }
    @keyframes move {
        from {
            overflow: auto;
        }
        0%, 25% {
            transform: translateX(0%);
            left: 0%;
        }

        75%, 100% {
            transform: translateX(-100%);
            left: 100%;
        }
    }

#pointComments {
    width: 35vw;
    height: 30vh;
    overflow: scroll;
    overflow-x: hidden;
}

.pointEachComment {
    width: 30vw;
    height: auto;
    border: 1px dashed green;
    margin-top: 0.5vh;
    border-right: none;
}
.pointEachComment:hover {
    cursor: zoom-in;
}

#pointImg {
    width: 70%;
    width: 70vh;
    height: 35%;
    height: 35vh;
}

.commentUserName {
    width: 30vw;
    height: 10vh;
}

    .commentUserName table th {
        padding-left: 3%;
        height: 5%;
        height: 5vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .commentUserName table td {
        padding-left: 3%;
        max-width: 30vw;
        max-height: 5vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

#pointUserComment {
    width: 70%;
    width: 70vh;
    height: 10%;
    height: 10vh;
}
    #pointUserComment table th {
        padding-top: 1vh;
        padding-left: 2vh;
    }
    #pointUserComment table td {
        padding-left: 2vh;
        height: 5%;
        height: 5vh;
        width: 90vh;
    }


#CommentDetail {
    width: 25vw;
    height: 50vh;
    outline: 1px dashed green;
    margin-right: 10vw;
    margin-top: 15vh;
    background-color: #EBEDEF;
}

#pointControl {
    width: 2vw;
    height: 30vh;
    outline: 1px dashed green;
    margin-left: 37.5vw;
    margin-top: -80vh; 
}


#UserA {
    width: 3.5vw;
    height: 7vh;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid green;
}

#UserNameC {
    margin-top: -8vh;
    margin-left: 6vw;
    font-weight:  bold;
}

#ipbl {
    margin-top: 0vh;
    margin-left: 6vw;
    
}
#ipbl input {
    width: 30vw;
    height: 5vh;
}

#ipbl2 {
    width: 6vw;
    margin-top: -5vh;
    margin-left: 28vw;
    height: 5vh;
    outline: 1px dashed yellow;
    text-align: center;
    color: yellow;
    line-height: 5vh;
    background-color: green;
}

    #ipbl2:hover {
        margin-top: -5vh;
        margin-left: 28vw;
        height: 5vh;
        border: 0;
        outline: 1px dashed green;
        text-align: center;
        color: green;
        vertical-align: middle;
        line-height: 5vh;
        background-color: yellow;
        outline: 1px dashed green;
        cursor: pointer;
    }

.eachCommentImg {
    margin-top: 0.5vh;
    width: 2vw;
    height: 3vh;
    border: 0.5px solid green;
}

#cmi {
    width: 5vw;
    height: 8vh;
    margin-left: 1vw;
    margin-top: 1vh;
    border-radius: 50%;
    border: 1px solid green;
}
#cmn {
    width: 18vw;
    height: 7vh;
    margin-left: 6vw;
    margin-top: -7vh;
    overflow-wrap: break-word;
    line-height: 7vh;
}
    #cmn label {
        font-size: 2vh;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }

#cmc {
    width: 23vw;
    height: 37vh;
    margin-top: 2vh;
    margin-left: 1vw;
    overflow-wrap: break-word;
    overflow: hidden;
    border-top: 1px dashed green;
}
    #cmc p {
        margin-top: 1vh;
    }

#allLike {
    width: 4vw;
    height: 6vh;
    font-size: 3vh;
    margin-left: 30vw;
    margin-top: -6vh;
    text-align: center;
}
    #allLike i{
        font-size: 3vh;
        margin-top: -1vh;
        
    }
        #allLike i:hover {
            cursor: pointer;
        }
    #allLike p{
        font-size: 2vh;
        margin-top: -1vh;
    }

.KoHienThi{
    display: none;
}

#EmptyCmt{
    text-align: center;
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 2vh;
    width: 25vw;
}