@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHomePage</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div>
        @User.Identity.GetUserName()
        <input type='button' value='Đăng Xuất' class='form-control' style='width: 100px;' id='btnSignOut' onClick='btnSignOutClick()'>
    </div>
</body>
</html>
<script>   
</script>
