@{
    ViewBag.Title = "Home Page";
}

<div id="map"></div>
<script src="~/Scripts/AddMap.js"></script>
<script src="~/Scripts/AddController.js"></script>
<script src="~/Scripts/AddPolygon.js"></script>
<script src="~/Scripts/AddLogin.js"></script>
<script src="~/Scripts/AddMenu.js"></script>
<script src="~/Scripts/AddMarker.js"></script>
<script src="~/Scripts/AddIcon.js"></script>
<script src="~/Scripts/DisplayMarker.js"></script>
<style>
</style>
